/* Reset */
*{
    margin: 0;
    padding: 0;
    font-family: 'Mooli', sans-serif;
}

body {
    background-color: #f0ebf8;
}

h1, h2, h3, h4, h5 {
    color: #333;
}

p, label {
    color: #444;
}

input[type="text"],
input[type="number"],
textarea {
    width: 400px;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ffa826;
}

select,
input[type="date"]
input[type="file"] {
    border: none;
    position: relative;
}

/* Cabeçalho */
.header {
    height: 300px;
    padding: 20px;
    background-image: url(img/template-de-curriculos-2-1024x538.png);
}

.header h3 {
    color: #f1f1f1;
    font-size: 2rem;
}

/* Formulário */
.form-container {
    background-color: #fdfdfd;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -150px;
}

.form-title {
    color:#ffa826;
    border-bottom: 2px solid #ffa826;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
}

.form-body {
    padding: 0 30px 30px 30px;
}
.form-body h3{
    margin-bottom: 20px;
}

.form-body p {
    font-weight: bold;
    margin-bottom: 10px;
}

.required-field {
    color: #d80835;
}

.box-input {
    margin-bottom: 35px;
}

.block {
    display: block;
}

.btn-submit {
    background-color: #ffa826;
    color: #f1f1f1;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    margin-top: 35px;
}

.btn-submit:hover {
   background-color: #f1f1f1; 
   color: #ffa826;
   border-color: #ffa826;
}